<footer>
    <div class="ct-footer"> 
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="contact_title">Contact</h3>
            <div class="contact_content" itemscope="" itemtype="http://schema.org/Organization">
              <p property="addressLocality" itemprop="address">
                <i class="fa fa-map-marker"></i>
                Company Street .............
              </p>
              <p property="telephone" itemprop="telephone">
                <i class="fa fa-volume-control-phone"></i>
                +012 1231 239
              </p>
              <p property="email" itemprop="email">
                <i class="fa fa-envelope-o"></i>
                <a href="mailto:contact@company">contact@company</a>
              </p>
              <p property="openingHours" itemprop="time">
                <i class="far fa-clock"></i>
                Monday - Friday, 7:30am – 06pm
              </p>
            </div>
            <div class="contact_social">
              <a href="#">
                <i class="fa fa-facebook-f">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-pinterest-p">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-twitter">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-google-plus">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-youtube-play">
                </i>
              </a>
            </div>
          </div>
          <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18080.266049361893!2d-77.04892075012681!3d38.89697703503282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7bcdecbb1df%3A0x715969d86d0b76bf!2zTmjDoCBUcuG6r25n!5e0!3m2!1svi!2s!4v1542620478429"
              width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright text-center">
      <span> COPYRIGHT ©
        <span id="footer_year">2018</span>
        COPMANY. ALL RIGHTS RESERVED.
      </span>
    </div>
  </footer>
  <a id="scrollUp" href="#top">
    <i class="fa fa-arrow-up"></i>
  </a>