/*_____________________________________________________________________Section special_feature_area*/
.special_feature_area {
  background-color: #f6f6f6;
  text-align: center;
}

.single_feature {
  background-color: #fff;
  text-align: center;
  padding: 5px;

}

.single_feature:hover {
  cursor: pointer;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}

.single_feature:hover .feature_img i {
  color: #FF9800;
}

.feature_text {
  font-size: 15px;
  padding-bottom: 20px;
  color: #2c3e50;
}

.feature_text h5 {
  color: #2c3e50;
}

.single_feature:hover .feature_text h5 {
  color: #FF9800;
}

.feature_img {
  text-align: center;
}

.feature_img i {
  font-size: 40px;
  margin: 15px;
  color: #2c3e50;
}

/*Section_AboutUS________________________________________________________________________________________*/
.about_us_thumb {
  background-color: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 6px;
}

.about_us_thumb img {
  max-width: 100%;
}


.about_us_text>h3 {
  color: #FF9800;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.about_us_text>p {
  font-weight: 400;
  color: #888;
  font-size: 16px;
  line-height: 1.4;
}

/* ________________________________________________________________________________________ Section introducing_area*/
.introducing_area {
  position: relative;
  top: 0;
  left: 0;
  background-image: url('../../../assets/image/introducing.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.introducing_area::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: #252525b0;
  width: 100%;
  height: 100%;

}

.video_play_area p,
h3 {
  color: #fff;
}

.video_area {
  color: #fff;
  position: relative;
  z-index: 2;
  background-position: 50% 377.053px;
}

.video_btn i {
  background-color: #00000099;
  border: 2px solid #fff;
  border-radius: 6px;
  display: inline-block;
  height: 55px;
  margin-top: 20px;
  width: 150px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 51px;
  transition: 0.5s;
  z-index: 2;
}

.video_btn i:hover {
  background-color: transparent;
}

/*Section why_choose_us_area ________________________________________________________________________________________*/


.single_choose_us {
  margin-bottom: 30px;
  padding-right: 85px;
  position: relative;
  text-align: right;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.single_choose_us>h4 {
  color: #34495e;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.why_choose_us_image {
  padding-top: 15px;
}

.why_choose_us_image>img {
  height: auto;
  max-width: 100%;
}

.single_choose_us {
  margin-bottom: 20px;
  padding: 3px 85px 1px 0px;
  position: relative;
  text-align: right;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.choose_us_icon {
  background-color: #34495e;
  border-radius: 50%;
  color: #fff;
  margin-right: 5px;
  height: 70px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 2px;
  width: 70px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.single_choose_us:hover {
  cursor: pointer;
  box-shadow: 20px 20px 20px -10px #a7a7a7a8;
}

.single_choose_us:hover .choose_us_icon {
  background-color: #FF9800;
}

.single_choose_us:hover h4 {
  color: #ff9800;
  transition: .5s;
}

.choose_us_icon>i {
  font-size: 30px;
  line-height: 70px;
  color: white;
}

/*Section what_we_do_area ________________________________________________________________________________________*/
.what_we_do_area {
  background-color: #f6f6f6;
}

.single_service {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  overflow: hidden;
}

.single_service:hover {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}

.single_service_img {
  text-align: center;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.single_service:hover .single_service_img {
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.single_service:hover .single_service_title {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.single_service_title {
  height: auto;
  position: relative;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 100%;
  z-index: 5;
}



.single_service_content {
  left: 15px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 15px;
  bottom: 15px;
  z-index: 9;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.learn_more {
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: calc(100% - 51px);
  width: 100%;
  z-index: 999;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-align: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.single_service:hover .single_service_content,
.single_service:hover .learn_more {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.single_service_title>h4,
.learn_more>a>h4 {
  background-color: #2c3e50;
  color: #fff;
  margin-bottom: 0;
  padding: 15px;
  text-align: center;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  font-weight: 600;
  font-size: 18px;
}

.single_service:hover .learn_more>a>h4 {
  background-color: #FF9800;
}

/*Section our_speciality_area ________________________________________________________________________________________*/
.our_speciality_area {
  position: relative;
  background-image: url('../../../assets/image/our_speciality.jpg');
  background-position: 50% 100px;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}

.our_speciality_area:before {
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;

}

.our_speciality_area .section_heading p,
h5,
i {
  color: #fff;
}

.our_speciality_area i {
  position: absolute;
  line-height: 25px;
  font-size: 20px;
}

.our_speciality_area h5 {
  margin-left: 35px;
  line-height: 1.5;
  text-transform: capitalize;
}

/*Section gallery_area _________________________________________________________________________________________*/
.gallery_item {}

.single_gallery_item {
  position: relative;
  overflow: hidden;
  margin: 0 -15px;
}

.single_gallery_item img {
  max-width: 100%;
  transition-duration: 400ms;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.single_gallery_item:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: 500ms;
}

.single_gallery_item:hover {
  cursor: url('../../../assets/image/seemore_ic.png'), auto;
  /*cursor: all-scroll !important;*/
}

.testt {
  cursor: url('../../../assets/image/seemore_ic.png'), auto;
  /*cursor: pointer;*/
}

.single_gallery_item:hover .hover_overlay {
  opacity: 1;
  transition: 400ms;
}

.hover_overlay {
  z-index: 5;
  opacity: 0;
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: #ffffff94;
  width: 90%;
  height: 90%;
  transition-duration: 400ms;
}

.hover_overlay p {
  color: black;
}

.gallery_info {
  position: absolute;
  top: 50%;
  left: 45%;
}

/*SectionAdvisor_________________________________________________________________________________________*/
.our_advisor_area {
  background-color: #f6f6f6;
}

.advisor_thumb img {
  border: 15px solid #e67e22;
  max-width: 100%;
  background-color: #fff;
  z-index: 2;
}

.advisor_info {
  background-color: #fff;
  padding: 15px 15px 15px 40px;
  margin-top: 90px;
  margin-left: -15px;
  z-index: 1;
}

.advisor_info h4 {
  color: #2c3e50;
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 5px;
  text-transform: uppercase;
}

.social_icon a {
  background-color: #354b60;
  padding: 6px;
  border-radius: 50%;
  margin: 0 3px;
}

.social_icon a:hover {
  background-color: #FF9800;
  color: #fff;
  transition: 400ms;
  cursor: pointer;
}

.social_icon i {
  width: 24px;
  text-align: center;
}

/*Section faq_question_area_________________________________________________________________________________________*/
.faq_question_area {
  position: relative;
  background-image: url('../../../assets/image/introducing.jpg');
  background-position: 50%;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  overflow: hidden;
}

.faq_question_area:before {
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

.faq_question_area .section_heading {
  text-align: right;
}

.panel.single-accordion {
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  margin-bottom: 20px;
}

.single-accordion h5 {
  margin: 0 0 15px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.single-accordion h5 a {
  font-size: 15px;
  background-color: transparent;
  border: 1px solid #ddd;
  color: #FF9800;
  display: block;
  font-weight: 700;
  line-height: 21px;
  padding: 15px;
  position: relative;
  border-radius: 6px;
  text-transform: uppercase;
}

.single-accordion h5 a:hover {
  text-decoration: none;
}

.single-accordion h5 a.collapsed {
  background-color: transparent;
  color: #2c3e50;
}

.accordion-content p {
  padding: 15px;
}

/*Section price_plan_area _________________________________________________________________________________________*/
.price_plan_area {
  background-color: #f6f6f6;
}

.price_plan_area .single_price_plan {
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  transition-duration: 400ms;
  margin-bottom: 30px;
}

.single_price_plan h3 {
  margin-bottom: 20px;
}

.single_price_plan h4 {
  font-size: 35px !important;
  padding-top: 30px;
}

.single_price_plan a {
  color: #888;
  text-transform: capitalize;
  padding: 10px 0 20px;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
}

.single_price_plan:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.single_price_plan:hover a {
  color: #FF9800;
  transition: 400ms;
}

.single_price_plan:hover .btn-orange {
  background-color: #FF9800;
  color: #fff;
  transition: 400ms;
}

/*Section timeline_area _________________________________________________________________________________________*/
.timeline_area {
  position: relative;
}

.timeline_icon {}

.single_timeline_block {
  position: relative;
  z-index: 1;
}

.timeline_text_content {
  width: 45%;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  z-index: 1;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.timeline_text_content:hover {
  background-color: #FF9800;
  color: #fff;
}

.timeline_text_content h5 {
  color: #888;
}

.even-item .timeline_text_content:before {
  left: calc(100% + 55px);
  background-color: #ddd;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 2px;
  z-index: -5;
}

.odd-item .timeline_text_content:before {
  left: -55px;
  background-color: #ddd;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 2px;
  z-index: -5;
}

.even-item .timeline_text_content:after {
  right: -5px;
  top: 8px;
  background-color: #f6f6f6;
  content: "";
  height: 30px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 30px;
  z-index: -9;
  transition-duration: 500ms;
}

.odd-item .timeline_text_content:after {
  content: "";
  left: -5px;
  top: 8px;
  background-color: #f6f6f6;
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: -9;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-duration: 500ms;
}

.timeline_text_content:hover:after {
  background-color: #FF9800 !important;
}

.single_timeline_block .timeline_icon {
  background-color: #FF9800;
  border-radius: 50%;
  color: #fff;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
  z-index: 9;
  border: 3px solid #fff;
}

.single_timeline_block .timeline_icon i {
  font-size: 18px;
  line-height: 44px;
}

.single_timeline_block.odd-item .timeline_text_content {
  float: right;
}

.single_timeline_block.even-item .timeline_text_content {
  text-align: right;
}

.single_timeline_block.odd-item .timeline_text_content {
  text-align: left;
}

/*Section news_area _________________________________________________________________________________________*/
.news_area {
  background-color: #f6f6f6;
}

.single_latest_news_area {
  border-radius: 7px;
  background-color: #fff;
}

.single_latest_news_area img {
  max-width: 100%;
  overflow: hidden;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.single_latest_news_area:hover .news_title h4,
a {
  color: #ff9800;
}

.single_latest_news_area a {
  color: #888;
  text-decoration: none;
}

.single_latest_news_text_area .news_title h4,
a {
  color: #2c3e50;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.single_latest_news_text_area {
  padding: 15px;
}

/*Section message_now_area _________________________________________________________________________________________*/

.contact_input_area .form-group input,
.contact_input_area .form-group textarea {
  border: 2px solid #ddd;
  border-radius: 6px;
  height: 50px;
  margin-bottom: 30px;
  padding: 15px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 100%;
}
