<main>
  <section class="special_feature_area section_padding_100" data-wow-duration="1s">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="single_feature wow fadeInUp active" data-wow-delay=".2s">
            <div class="feature_img">
              <i class="fa fa-university" aria-hidden="true"></i>
            </div>
            <div class="feature_text">
              <h5>Bank Loan</h5>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single_feature wow fadeInUp" data-wow-delay=".4s">
            <div class="feature_img">
              <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            </div>
            <div class="feature_text">
              <h5>Business Advisor</h5>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single_feature wow fadeInUp" data-wow-delay=".6s">
            <div class="feature_img">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            </div>
            <div class="feature_text">
              <h5>Online Consulting</h5>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single_feature wow fadeInUp" data-wow-delay=".8s">
            <div class="feature_img">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </div>
            <div class="feature_text">
              <h5>Financial Planning</h5>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End section special_feature_area -->
  <section class="about_area section_padding_100" id="about_us">
    <div class="container">
      <div class="about_us_area">
        <div class="row">
          <div class="col-md-6">
            <div class="about_us_thumb wow fadeIn" data-wow-delay="0.1s">
              <img src="../../../assets/image/about-us.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_us_text text-right wow fadeIn" data-wow-delay="0.1s">
              <h3>About us</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto laborum maiores nulla natus a. Aliquid
                enim dicta veniam eum harum repudiandae doloremque quaerat nobis necessitatibus similique, aut error
                blanditiis adipisci ab consequatur dolorem ducimus molestiae. Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Corporis ab eveniet officia nesciunt placeat saepe, voluptas, laborum nam!</p>
              <a href="#" class="btn btn-orange">Discover More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End section about_area -->
  <section class="introducing_area" id="introducing">

    <div class="video_area text-center section_padding_200" data-stellar-background-ratio="0.6" style="">
      <div class="video_play_area">
        <h3 class="wow flipInY" data-wow-delay="0.1s">Introducing About Bizplus</h3>
        <p class="wow flipInX" data-wow-delay="0.2s">Watch this video. It's only take 50sec</p>
        <a href="https://www.youtube.com/watch?v=09R8_2nJtjg" class="video_btn">
          <i class="fa fa-play wow flash" data-wow-delay="0.3s">
          </i>
        </a>
      </div>
    </div>
  </section>
  <!-- End section introducing_area -->
  <section class="why_choose_us_area section_padding_100">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section_heading">
            <p>our best vision</p>
            <h3>Why Choose Us</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="why_choose_us_text_area">
            <div class="single_choose_us">
              <h4>Award Winning</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae.</p>
              <div class="choose_us_icon">
                <i class="fa fa-trophy" aria-hidden="true">
                </i>
              </div>
            </div>
            <div class="single_choose_us">
              <h4>Awesome Layouts</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae.</p>
              <div class="choose_us_icon">
                <i class="fa fa-th-large" aria-hidden="true">
                </i>
              </div>
            </div>
            <div class="single_choose_us">
              <h4>Parallax Effect</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae.</p>
              <div class="choose_us_icon">
                <i class="fa fa-bullseye" aria-hidden="true">
                </i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 offset-md-2">
          <div class="why_choose_us_image wow fadeInRight" data-wow-delay="0.1s">
            <img src="../../../assets/image/why-choose-one.png" alt="">
          </div>
        </div>
      </div>
      <div class="row second_part">
        <div class="col-md-5 ">
          <div class="why_choose_us_image second_area wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
            <img src="../../../assets/image/why-choose-two.png" alt="">
          </div>
        </div>
        <div class="col-md-5 offset-md-2">
          <div class="why_choose_us_text_area second_area">
            <div class="single_choose_us">
              <h4>Reatina Ready</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae.</p>
              <div class="choose_us_icon">
                <i class="fa fa-eye" aria-hidden="true">
                </i>
              </div>
            </div>
            <div class="single_choose_us">
              <h4>Clean Code</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae.</p>
              <div class="choose_us_icon">
                <i class="fa fa-code" aria-hidden="true">
                </i>
              </div>
            </div>
            <div class="single_choose_us">
              <h4>Super Responsive</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae.</p>
              <div class="choose_us_icon">
                <i class="fa fa-expand" aria-hidden="true">
                </i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End section why_choose_us_area -->
  <section class="what_we_do_area section_padding_100" id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section_heading">
            <p>our best service</p>
            <h3>What we do</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="single_service wow flipInX" data-wow-delay="0s">
            <div class="single_service_img">
              <img src="../../../assets/image//service-1.jpg" alt="">
            </div>
            <div class="single_service_title">
              <h4>Investment Planning</h4>
            </div>
            <div class="single_service_content">
              <div class="table">
                <div class="table_cell">
                  Investment Planning Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, illo esse nisi
                  dignissimos laboriosam officiis. Aliquid corporis amet, possimus voluptatem ducimus iste accusantium
                  iusto, eveniet voluptatibus necessitatibus...
                </div>
              </div>
            </div>
            <div class="learn_more">
              <a data-target="#service_details1" data-toggle="modal" href="#">
                <h4>
                  Read more</h4>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="single_service  wow flipInX" data-wow-delay="0.2s">
            <div class="single_service_img">
              <img src="../../../assets/image//service-2.jpg" alt="">
            </div>
            <div class="single_service_title">
              <h4>Finance Planning</h4>
            </div>
            <div class="single_service_content">
              <div class="table">
                <div class="table_cell">
                  Investment Planning Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, illo esse nisi
                  dignissimos laboriosam officiis. Aliquid corporis amet, possimus voluptatem ducimus iste accusantium
                  iusto, eveniet voluptatibus necessitatibus...
                </div>
              </div>
            </div>
            <div class="learn_more">
              <a data-target="#service_details2" data-toggle="modal" href="#">
                <h4>
                  Read more</h4>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="single_service wow flipInX" data-wow-delay=".3s">
            <div class="single_service_img">
              <img src="../../../assets/image//service-3.jpg" alt="">
            </div>
            <div class="single_service_title">
              <h4>Banking Planning</h4>
            </div>
            <div class="single_service_content">
              <div class="table">
                <div class="table_cell">
                  Investment Planning Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, illo esse nisi
                  dignissimos laboriosam officiis. Aliquid corporis amet, possimus voluptatem ducimus iste accusantium
                  iusto, eveniet voluptatibus necessitatibus...
                </div>
              </div>
            </div>
            <div class="learn_more">
              <a data-target="#service_details3" data-toggle="modal" href="#">
                <h4>
                  Read more</h4>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="single_service  wow flipInX" data-wow-delay="0s">
            <div class="single_service_img">
              <img src="../../../assets/image//service-4.jpg" alt="">
            </div>
            <div class="single_service_title">
              <h4>SME Planning</h4>
            </div>
            <div class="single_service_content">
              <div class="table">
                <div class="table_cell">
                  Investment Planning Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, illo esse nisi
                  dignissimos laboriosam officiis. Aliquid corporis amet, possimus voluptatem ducimus iste accusantium
                  iusto, eveniet voluptatibus necessitatibus...
                </div>
              </div>
            </div>
            <div class="learn_more">
              <a data-target="#service_details4" data-toggle="modal" href="#">
                <h4>
                  Read more</h4>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="single_service  wow flipInX" data-wow-delay=".2s">
            <div class="single_service_img">
              <img src="../../../assets/image//service-5.jpg" alt="">
            </div>
            <div class="single_service_title">
              <h4>Online Marketing</h4>
            </div>
            <div class="single_service_content">
              <div class="table">
                <div class="table_cell">
                  Investment Planning Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, illo esse nisi
                  dignissimos laboriosam officiis. Aliquid corporis amet, possimus voluptatem ducimus iste accusantium
                  iusto, eveniet voluptatibus necessitatibus...
                </div>
              </div>
            </div>
            <div class="learn_more">
              <a data-target="#service_details5" data-toggle="modal" href="#">
                <h4>
                  Read more</h4>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="single_service  wow flipInX" data-wow-delay=".3s">
            <div class="single_service_img">
              <img src="../../../assets/image//service-6.jpg" alt="">
            </div>
            <div class="single_service_title">
              <h4>Bank Loan</h4>
            </div>
            <div class="single_service_content">
              <div class="table">
                <div class="table_cell">
                  Investment Planning Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, illo esse nisi
                  dignissimos laboriosam officiis. Aliquid corporis amet, possimus voluptatem ducimus iste accusantium
                  iusto, eveniet voluptatibus necessitatibus...
                </div>

              </div>
            </div>
            <div class="learn_more">
              <a data-target="#service_details6" data-toggle="modal" href="#">
                <h4>
                  Read more</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End section  what_we_do_area-->
  <section class="our_speciality_area section_padding_200" id="speciality">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12  col-sm-12">
              <div class="section_heading">
                <p>our best values</p>
                <h3>Core Features</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="single_speciality">
                <div class="single_speciality_icon">
                  <i class="fa fa-check" aria-hidden="true">
                  </i>
                </div>
                <div class="single_speciality_text">
                  <h5>Super Fast</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="single_speciality">
                <div class="single_speciality_icon">
                  <i class="fa fa-check" aria-hidden="true">
                  </i>
                </div>
                <div class="single_speciality_text">
                  <h5>Free Delivery</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="single_speciality">
                <div class="single_speciality_icon">
                  <i class="fa fa-check" aria-hidden="true">
                  </i>
                </div>
                <div class="single_speciality_text">
                  <h5>Friendly Support</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="single_speciality">
                <div class="single_speciality_icon">
                  <i class="fa fa-check" aria-hidden="true">
                  </i>
                </div>
                <div class="single_speciality_text">
                  <h5>Latest Bootstrap</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="single_speciality">
                <div class="single_speciality_icon">
                  <i class="fa fa-check" aria-hidden="true">
                  </i>
                </div>
                <div class="single_speciality_text">
                  <h5>Valid HTML5 / CSS3</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="single_speciality">
                <div class="single_speciality_icon">
                  <i class="fa fa-check" aria-hidden="true">
                  </i>
                </div>
                <div class="single_speciality_text">
                  <h5>Cross Browser Compatibility</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="single_speciality">
                <div class="single_speciality_icon">
                  <i class="fa fa-check" aria-hidden="true">
                  </i>
                </div>
                <div class="single_speciality_text">
                  <h5>Pixel perfect design</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="single_speciality">
                <div class="single_speciality_icon">
                  <i class="fa fa-check" aria-hidden="true">
                  </i>
                </div>
                <div class="single_speciality_text">
                  <h5>Awesome Unique Design</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="single_speciality">
                <div class="single_speciality_icon">
                  <i class="fa fa-check" aria-hidden="true">
                  </i>
                </div>
                <div class="single_speciality_text">
                  <h5>Pixel perfect design</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End section  our_speciality_area-->
  <section class="gallery_area section_padding_100" id="work">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section_heading testt">
            <p>what we create</p>
            <h3>Our latest works</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row gallery_item">
        <div class="col-md-3 col-sm-6">
          <div class="single_gallery_item wow fadeIn" data-wow-delay="0s">
            <a data-target="#works_details1" data-toggle="modal" href="#">
              <img src="../../../assets/image/gallery1.jpg" alt="">
              <div class="hover_overlay">
                <div class="gallery_info">
                  <h5>
                  </h5>
                  <p>admin</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single_gallery_item  wow fadeIn" data-wow-delay=".3s">
            <a data-target="#works_details1" data-toggle="modal" href="#">
              <img src="../../../assets/image/gallery2.jpg" alt="">
              <div class="hover_overlay">
                <div class="gallery_info">
                  <h5>
                  </h5>
                  <p>admin</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single_gallery_item  wow fadeIn" data-wow-delay=".6s">
            <a data-target="#works_details1" data-toggle="modal" href="#">
              <img src="../../../assets/image/gallery3.jpg" alt="">
              <div class="hover_overlay">
                <div class="gallery_info">
                  <h5>
                  </h5>
                  <p>admin</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single_gallery_item  wow fadeIn" data-wow-delay=".9s">
            <a data-target="#works_details1" data-toggle="modal" href="#">
              <img src="../../../assets/image/gallery4.jpg" alt="">
              <div class="hover_overlay">
                <div class="gallery_info">
                  <h5>
                  </h5>
                  <p>admin</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single_gallery_item wow fadeIn" data-wow-delay="0s">
            <a data-target="#works_details1" data-toggle="modal" href="#">
              <img src="../../../assets/image/gallery5.jpg" alt="">
              <div class="hover_overlay">
                <div class="gallery_info">
                  <h5>
                  </h5>
                  <p>admin</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single_gallery_item wow fadeIn" data-wow-delay=".3s">
            <a data-target="#works_details1" data-toggle="modal" href="#">
              <img src="../../../assets/image/gallery6.jpg" alt="">
              <div class="hover_overlay">
                <div class="gallery_info">
                  <h5>
                  </h5>
                  <p>admin</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single_gallery_item wow fadeIn" data-wow-delay="0.6s">
            <a data-target="#works_details1" data-toggle="modal" href="#">
              <img src="../../../assets/image/gallery7.jpg" alt="">
              <div class="hover_overlay">
                <div class="gallery_info">
                  <h5>
                  </h5>
                  <p>admin</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single_gallery_item wow fadeIn" data-wow-delay="0.9s" data-wow>
            <a data-target="#works_details1" data-toggle="modal" href="#">
              <img src="../../../assets/image/gallery8.jpg" alt="">
              <div class="hover_overlay">
                <div class="gallery_info">
                  <h5>
                  </h5>
                  <p>admin</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End section  gallery_area-->
  <section class="our_advisor_area section_padding_100" id="advisor">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section_heading">
            <p>our quality team</p>
            <h3>Creative Advisor</h3>

          </div>
        </div>
      </div>
      <div class="row single_advisor_profile">
        <div class="col-md-3 offset-md-1 advisor_thumb">
          <img src="http://shtheme.com/demosd/bizplus/wp-content/uploads/2017/05/advisor-2.png" alt="">
        </div>
        <div class="col-md-6 advisor_info">
          <div class="single_advisor_details_info">
            <h4>Black Bold</h4>
            <p class="designation">Educational Advisor</p>
            <hr>
            <div class="about_advisor">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deleniti consectetur commodi, qui
                esse quod similique atque fugiat nostrum necessitatibus quia doloribus, veritatis, eaque error eos
                accusamus.</p>
            </div>
          </div>

          <div class="advisor_social_info">
            <div class="social_icon">
              <a href="#">
                <i class="fa fa-facebook">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-pinterest-p">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-twitter">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-google-plus">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-youtube-play">
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End section our_advisor_area-->
  <section class="faq_question_area section_padding_100">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Section Heading Start -->
          <div class="section_heading">
            <p>Basic knowledgebase</p>
            <h3>Frequently asked questions</h3>
          </div>
          <!-- Section Heading End -->
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="faq_area">
            <div class="accordions" id="accordion">
              <div class="panel single-accordion">
                <h5>
                  <a role="button" aria-expanded="true" aria-controls="one" class="collapsed" data-parent="#accordion"
                    data-toggle="collapse" href="#one">How can I apply for a job?
                    <span class="accor-open">
                      <i class="fa fa-sort-desc" aria-hidden="true">
                      </i>
                    </span>
                    <span class="accor-close">
                      <i class="fa fa-sort-asc" aria-hidden="true">
                      </i>
                    </span>
                  </a>
                </h5>
                <div id="one" class="accordion-content collapse">
                  <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                    formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
                    videntur parum clari, fiant sollemnes in futurum.</p>
                </div>
              </div>
              <div class="panel single-accordion">
                <h5>
                  <a role="button" aria-expanded="true" aria-controls="two" class="collapsed" data-parent="#accordion"
                    data-toggle="collapse" href="#two">Where can I find out about solution?
                    <span class="accor-open">
                      <i class="fa fa-sort-desc" aria-hidden="true">
                      </i>
                    </span>
                    <span class="accor-close">
                      <i class="fa fa-sort-asc" aria-hidden="true">
                      </i>
                    </span>
                  </a>
                </h5>
                <div id="two" class="accordion-content collapse">
                  <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                    formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
                    videntur parum clari, fiant sollemnes in futurum.</p>
                </div>
              </div>
              <div class="panel single-accordion">
                <h5>
                  <a role="button" aria-expanded="true" aria-controls="three" class="collapsed" data-parent="#accordion"
                    data-toggle="collapse" href="#three">Who can use the apps?
                    <span class="accor-open">
                      <i class="fa fa-sort-desc" aria-hidden="true">
                      </i>
                    </span>
                    <span class="accor-close">
                      <i class="fa fa-sort-asc" aria-hidden="true">
                      </i>
                    </span>
                  </a>
                </h5>
                <div id="three" class="accordion-content collapse">
                  <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                    formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
                    videntur parum clari, fiant sollemnes in futurum.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="faq_area">
            <div class="accordions" id="accordion">
              <div class="panel single-accordion">
                <h5>
                  <a role="button" aria-expanded="true" aria-controls="one" class="collapsed" data-parent="#accordion"
                    data-toggle="collapse" href="#four">How can I apply for a job?
                    <span class="accor-open">
                      <i class="fa fa-sort-desc" aria-hidden="true">
                      </i>
                    </span>
                    <span class="accor-close">
                      <i class="fa fa-sort-asc" aria-hidden="true">
                      </i>
                    </span>
                  </a>
                </h5>
                <div id="four" class="accordion-content collapse">
                  <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                    formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
                    videntur parum clari, fiant sollemnes in futurum.</p>
                </div>
              </div>
              <div class="panel single-accordion">
                <h5>
                  <a role="button" aria-expanded="true" aria-controls="two" class="collapsed" data-parent="#accordion"
                    data-toggle="collapse" href="#five">Where can I find out about solution?
                    <span class="accor-open">
                      <i class="fa fa-sort-desc" aria-hidden="true">
                      </i>
                    </span>
                    <span class="accor-close">
                      <i class="fa fa-sort-asc" aria-hidden="true">
                      </i>
                    </span>
                  </a>
                </h5>
                <div id="five" class="accordion-content collapse">
                  <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                    formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
                    videntur parum clari, fiant sollemnes in futurum.</p>
                </div>
              </div>
              <div class="panel single-accordion">
                <h5>
                  <a role="button" aria-expanded="true" aria-controls="three" class="collapsed" data-parent="#accordion"
                    data-toggle="collapse" href="#six">Who can use the apps?
                    <span class="accor-open">
                      <i class="fa fa-sort-desc" aria-hidden="true">
                      </i>
                    </span>
                    <span class="accor-close">
                      <i class="fa fa-sort-asc" aria-hidden="true">
                      </i>
                    </span>
                  </a>
                </h5>
                <div id="six" class="accordion-content collapse">
                  <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                    formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
                    videntur parum clari, fiant sollemnes in futurum.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End section faq_question_area -->
  <section class="price_plan_area section_padding_100" id="price">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section_heading">
            <p>Pick your best plan</p>
            <h3>Price Plan</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="single_price_plan wow bounce" data-wow-delay=".2s">
            <div class="price">
              <h4>$59</h4>
            </div>
            <div class="title">
              <h3 class=" btn-orange">Startup</h3>
            </div>
            <div class="description">
              Monthly Bandwidth: 100GB<br>
              Online Space: 5GB<br>
              Full Support: No<br>
              No Hidden Fees<br>
              Video Tuts: 20+<br>
              Live Class: No<br>
              Duration: 120 Days<br>
            </div>
            <div class="button">
              <a class="btn btn-default" href="#" role="button">Pick this Plan</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single_price_plan wow bounce" data-wow-delay=".2s">
            <div class="price">
              <h4>$133</h4>
            </div>
            <div class="title">
              <h3 class=" btn-orange">Premium</h3>
            </div>
            <div class="description">
              Monthly Bandwidth: 200GB<br>
              Online Space: 11GB<br>
              Full Support: No<br>
              No Hidden Fees<br>
              Video Tuts: 40+<br>
              Live Class: No<br>
              Duration: 240 Days<br>
            </div>
            <div class="button">
              <a class="btn btn-default" href="#" role="button">Pick this Plan</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single_price_plan wow bounce" data-wow-delay=".2s">
            <div class="price">
              <h4>$299</h4>
            </div>
            <div class="title">
              <h3 class=" btn-orange">Pro</h3>
            </div>
            <div class="description">
              Monthly Bandwidth: 500GB<br>
              Online Space: 30GB<br>
              Full Support: Yes<br>
              No Hidden Fees<br>
              Video Tuts: 100+<br>
              Live Class: Yes<br>
              Duration: 360 Days<br>
            </div>
            <div class="button">
              <a class="btn btn-default" href="#" role="button">Pick this Plan</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End section price_plan_area -->
  <section class="timeline_area section_padding_100">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section_heading">
            <p>See our timeline</p>
            <h3>Company History</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="history_timeline_area">
            <div class="single_timeline_block even-item clearfix">
              <div class="timeline_icon">
                <i class="fa fa-building">
                </i>
              </div>
              <div class="timeline_text_content">
                <h4>Start New Company</h4>
                <h5>03 Jun 2016</h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt numquam fugiat, vitae facere.
                Provident odio saepe iure, commodi doloribus architecto.
              </div>
            </div>
            <div class="single_timeline_block odd-item clearfix">
              <div class="timeline_icon">
                <i class="fa fa-trophy">
                </i>
              </div>
              <div class="timeline_text_content">
                <h4>Achieve Award</h4>
                <h5>05 Jan 2015</h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt numquam fugiat, vitae facere.
                Provident odio saepe iure, commodi doloribus architecto.
              </div>
            </div>
            <div class="single_timeline_block even-item clearfix">
              <div class="timeline_icon">
                <i class="fa fa-info-circle">
                </i>
              </div>
              <div class="timeline_text_content">
                <h4>Reach 1M Clients</h4>
                <h5>27 Sep 2014</h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt numquam fugiat, vitae facere.
                Provident odio saepe iure, commodi doloribus architecto.
              </div>
            </div>
            <div class="single_timeline_block odd-item clearfix">
              <div class="timeline_icon">
                <i class="fa fa-home">
                </i>
              </div>
              <div class="timeline_text_content">
                <h4>Buy New Office</h4>
                <h5>09 Aug 2014</h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt numquam fugiat, vitae facere.
                Provident odio saepe iure, commodi doloribus architecto.
              </div>
            </div>
            <div class="single_timeline_block even-item clearfix">
              <div class="timeline_icon">
                <i class="fa fa-users">
                </i>
              </div>
              <div class="timeline_text_content">
                <h4>Reach 1k Clients</h4>

                <h5>21 May 2014</h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt numquam fugiat, vitae facere.
                Provident odio saepe iure, commodi doloribus architecto.
              </div>
            </div>
            <div class="single_timeline_block odd-item clearfix">
              <div class="timeline_icon">
                <i class="fa fa-paper-plane">
                </i>
              </div>
              <div class="timeline_text_content">
                <h4>Start Journey</h4>
                <h5>14 Feb 2013</h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt numquam fugiat, vitae facere.
                Provident odio saepe iure, commodi doloribus architecto.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End section timeline_area -->
  <section class="news_area section_padding_100" id="news">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section_heading">
            <p>our creative info</p>
            <h3>latest news</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="single_latest_news_area">
            <div class="single_latest_news_img_area">
              <img src="../../../assets/image/news1.jpg" alt="">
            </div>
            <div class="single_latest_news_text_area">
              <div class="news_title">
                <a href="">
                  <h4>We dream of a sustainable economy where SME is the core.</h4>
                </a>
              </div>
              <div class="news_content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco off...</p>
              </div>
              <a href="">
                Read more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="single_latest_news_area">
            <div class="single_latest_news_img_area">
              <img src="../../../assets/image/news2.jpg" alt="">
            </div>
            <div class="single_latest_news_text_area">
              <div class="news_title">
                <a href="">
                  <h4>We dream of a sustainable economy where SME is the core.</h4>
                </a>
              </div>
              <div class="news_content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco off...</p>
              </div>
              <a href="">
                Read more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="single_latest_news_area">
            <div class="single_latest_news_img_area">
              <img src="../../../assets/image/news3.jpg" alt="">
            </div>
            <div class="single_latest_news_text_area">
              <div class="news_title">
                <a href="">
                  <h4>We dream of a sustainable economy where SME is the core.</h4>
                </a>
              </div>
              <div class="news_content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco off...</p>
              </div>
              <a href="">
                Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End section news_area -->
  <section class="message_now_area section_padding_100" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="message_title">
            <div class="section_heading">
              <p>Drop a line</p>
              <h3>Message Now</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="contact_from">
        <form action="#service" method="post">
          <div class=" contact_input_area">
            <div id="success_fail_info">
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <span class="form-control-wrap your-name">
                    <input type="text" name="your-name" value="" size="40" class="form-control text validates-as-required form-control"
                      aria-required="true" aria-invalid="false" placeholder="Your Name">
                  </span>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <span class="form-control-wrap your-email">
                    <input type="email" name="your-email" value="" size="40" class="form-control text email validates-as-required validates-as-email form-control"
                      aria-required="true" aria-invalid="false" placeholder="Your E-mail">
                  </span>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <span class="form-control-wrap your-subject">
                    <input type="text" name="your-subject" value="" size="40" class="form-control text validates-as-required form-control"
                      aria-required="true" aria-invalid="false" placeholder="Your Subject">
                  </span>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <span class="form-control-wrap your-number">
                    <input type="number" name="your-number" value="" class="form-control number validates-as-required validates-as-number form-control"
                      aria-required="true" aria-invalid="false" placeholder="Your PhoneNumber">
                  </span>
                </div>
              </div>
              <div class="col-sm-12">
                <textarea class="form-control" rows="5" placeholder="Your Message"></textarea>
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <input type="submit" value="Send Now" class="btn-orange">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- End section message_now_area -->
</main>
