<header>
  <div class="container-fluid">
    <div class="row main-menu sticky">
      <div class="col-sm-2 offset-sm-1">
        <a href="#" class="main-logo">
          <h1><img src="../../../assets/image/logo.png" alt=""></h1>
        </a>
      </div>
      <div class="col-sm-7 offset-sm-2">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Hemo <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about_us">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#service">Service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#work">Project</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#price">Price</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#news">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div class="img-banner">
    <img [src]="'../../../assets/image/banner.jpg'" alt="">
    <div class="slide_text">
      <h2><span>Your Growth</span> our business</h2>
      <h3>We're all working together; that's the secret.</h3>
      <a class="btn btn-default btn-orange" href="#" role="button">Start Now</a>
    </div>
  </div>

  <!-- <div class="slide-top">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img [src]="'../../assets/image/slide'+images[0]" alt="">
        <div class="carousel-caption">
          <h3>10 seconds between slides...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="'../../assets/image/slide'+images[1]" alt="">
        <div class="carousel-caption">
          <h3>No mouse events...</h3>
          <p>This carousel doesn't pause or resume on mouse events</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="'../../assets/image/slide'+images[3]" alt="">
        <div class="carousel-caption">
          <h3>No keyboard...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="'../../assets/image/slide'+images[2]" alt="">
        <div class="carousel-caption">
          <h3>And no wrap after last slide.</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
    </ngb-carousel>

  </div> -->
</header>
